@model IEnumerable<BankingApp.Models.BusinessAccount>


@{
    ViewData["Title"] = "Index";

}

<h1>Business Accounts</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Account Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                Interest Rate
            </th>
            <th>
                Overdraft Amount
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overdraft)
            </td>
            <td>
                <a asp-action="Deposit" asp-route-id="@item.Id">Deposit</a> |
                <a asp-action="Withdraw" asp-route-id="@item.Id">Withdraw</a> |
                <a asp-controller="Transactions" asp-action="GetAllTransactions" asp-route-id="@item.Id">Transactions</a> |
                <a  asp-action="PayOverdraft" asp-route-id="@item.Id">Pay Overdraft</a>

            </td>
        </tr>

        }

    </tbody>
</table>
