@model IEnumerable<BankingApp.Models.Loan>

@{
    ViewData["Title"] = "GetAccounts";
}

<h1>Loan</h1>
<h2>Accounts</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term) (Months)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentInstallment)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => (item.InterestRate))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentInstallment)
            </td>
            <td>
                @if (item.isPayed == false)
                {
                    <a asp-action="PayInstallment" asp-route-id="@item.Id">Pay Loan</a><span> |</span>
                    <a asp-controller="Transactions" asp-action="GetAllTransactions" asp-route-id ="@item.Id">Transactions</a>
                }
                else {<label class="text-dark">Payed |</label> 
                      <a asp-controller="Transactions" asp-action="GetAllTransactions" asp-route-id="@item.Id">Transactions</a>
                }
                @*<a asp-action="PayInstallment" asp-route-id="@item.Id">Pay Loan</a> |
                <a asp-controller="Transactions" asp-action="GetAllTransactions" asp-route-id="@item.Id">Transactions</a>*@

            </td>
        </tr>
}
    </tbody>
</table>
