@model IEnumerable<BankingApp.Models.CheckingAccount>


@{
    ViewData["Title"] = "Index";
    
}

<h1>Checking Accounts</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Account Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    <a asp-action="Deposit" asp-route-id="@item.Id">Deposit</a> |
                    <a asp-action="Withdraw" asp-route-id="@item.Id">Withdraw</a> |
                    <a asp-controller="Transactions"asp-action="GetAllTransactions" asp-route-id="@item.Id">Transactions</a>

                </td>
            </tr>
            
        }
        
    </tbody>
</table>
