@model IEnumerable<BankingApp.Models.CheckingTransaction>

@{
    ViewData["Title"] = "Transactions";
}

<h1>Transactions</h1>

<h2>Account Number: @TempData["data"]</h2>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStamp)
            </td>
           
        </tr>
}
    </tbody>
</table>
